html{
    width:100%;
    height:100%;
    
}

body{
    padding-top:30px;
    width:100%;
    height:100%;
    
}

.jumbotron{
    margin-bottom:0px;
}

.box{
    height:50px;
    width:50px;
}

.red{
    background-color:red;
}

.blue{
    background-color:blue;
}

.orange{
    background-color:rgba(255, 172, 5, 1);
}

.strip{
    width:100%;
    height:10px;
}

.banner{
    width:100%;
    height:300px;
}

.rect{
    width:100%;
    height:100%;
    padding:15px;
}

.container{
    padding-top:70px;
    padding-bottom:30px;
}

.shelf{
    height:100%;
    width:100%;
}

.col{
    padding:10px;
}


.jumbotron {
  color:white;
}

#home{
    background-image: url("image/bg/bench.jpg");
    background-size: cover;
    /*this allows the image to stretch height to its max. needs html and body to be height:100% as well*/
    height:100%;
  
}

h1 {
font-family: 'Libre Franklin', sans-serif;
}

.card{
    margin:30px;
    opacity:0.7;
    border:none;
   
}

.card-body{
    background-color:rgb(255, 172, 5);
    border-radius:3px;
   
}

.card:hover{
    opacity:1;
}

#footer{
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    width:100%;
}

.btn-primary{
    background-color:rgb(255, 193, 100);
    border-color:rgb(255, 193, 100);
    
}

.btn-primary:hover {
    background-color:rgb(255, 234, 5);
    border-color:rgb(255, 234, 5);
    
}

.icon{
    height:60px;
}

#projects{
    background-image:url(image/bg/circuits.jpg);
    background-size:cover;
    height:1030px;
    padding:0px;
    
}

#projects h1{
    color:black;
}

#skills{
    background-image:url(image/bg/graph.jpg);
    background-size:cover;
   
}

.rounded-box{
    background-color:orange;
    height:50px;
    border-radius:5px;
    text-align:center;
    border:1px;
    transition-duration:0.5s;
}

.rounded-box:hover{
    transition-duration:0.5s;
    background-color:rgb(255, 234, 5);
    border-color:rgb(255, 234, 5);
}

.fa-twitter{
    padding-top:5px;
    font-size:40px;
    color:white;
}

.fa-github{
    padding-top:5px;
    font-size:40px;
    color:white;
}

.fa-instagram{
    padding-top:5px;
    font-size:40px;
    color:white;
}

.fa-window-maximize{
    padding-top:5px;
    font-size:40px;
    color:white; 
}

.follow{
    margin-top:50px;
}


.bar-full {
    width:0%;
    height:30px;
    background-color:blue;
    animation-name: adv;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    transform:translate(0, 100%);
}

@keyframes adv{
    
    from{
        width:0%;
        Background-color:rgb(255, 234, 5);
    }

    to{
        width:90%;
        background-color:rgb(5, 255, 172);
        
    }
    
}

.bar-mid {
    width:0%;
    height:30px;
    background-color:blue;
    animation-name: gd;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    transform:translate(0, 100%);
}

@keyframes gd{
    
    from{
        width:0%;
        Background-color:rgb(255, 234, 5);
    }

    to{
        width:60%;
        background-color:rgb(255, 109, 5);
        
    }
    
}

.bar-min {
    width:0%;
    height:30px;
    background-color:blue;
    animation-name: basic;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    transform:translate(0, 100%);
}

@keyframes basic{
    
    from{
        width:0%;
        Background-color:rgb(255, 234, 5);
    }

    to{
        width:30%;
        background-color:rgb(255, 234, 5);
        
    }
    
}

.ware{
    /*background-color:purple;*/
    width:100px;
    height:100%;
    margin-left:150px;
    
}

.rounded{
    width:100%;
}

.house{
    background-color:rgb(255, 172, 5);
    width:100px;
    height:100%;
    transform:translate(0,-100%);
    opacity:0;
    transition-duration:0.75s;
    position:absolute;
    text-align:justify;
    border-radius:3px;
}

.ware:hover .house{
    opacity:0.9;
    cursor:pointer;
}

.text{
    color:rgb(88, 5, 255);
    margin-top:5px;
    text-align:center;
}

.text2{
    color:rgba(5, 88, 255, 0.7);
    margin-top:5px;
    text-align:center;
}

.note {
    transform:rotate(-10deg);
    transition-duration: 1s;
}

.note:hover {
    transform:rotate(0deg);
}

.thumb{
    height:330px;
    width:330px;
    /*background-color:green;*/
    border-radius:165px;
    border-color:orange;
    border-style:solid;
    border-width:5px;
}

.camping{
  background-image:url(image/thumb/camping.jpg);
  background-size:cover;
}

.indoor{
  background-image:url(image/thumb/indoor.jpg);
  background-size:cover; 
}